<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" id="metaDes" content="美说">
        <meta name="keywords" content="图片 制作">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="renderer" content="webkit">
        <meta name="author" content="fish">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="telephone=no" name="format-detection" />
        <meta name="viewport" content="width=640, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=yes">
        <title>作品申诉</title>
        <title></title>
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <div class="appeal-container" id="appeal-layer" >
            <div class="error-info" ></div>
            <div class="appeal-hint" >申诉人信息</div>
            <div class="common-input" id="common-first" ><label>申请人</label><input type="text" id="author-input" placeholder="你的姓名" /></div>
            <div class="common-input"><label>邮箱</label><input type="text" id="email-input" placeholder="申诉进度将通过邮箱反馈给你" /></div>
            <textarea class="common-input" id="content-input" placeholder="描述你的申诉原因" ></textarea>
            <div id="submit-appeal" >提交</div>
        </div>
        <div class="info-container" id="info-layer" >
            <div class="logo" id="ok-logo" ></div>
            <div class="hint" >提交成功</div>
            <div class="content" style="display: block;" >
                <span>申诉申请已处理，请关注邮箱中客服反馈的申诉处理结果</span>
            </div>
            <div class="copy-right" >Copy Right © 2011 - 2016 gli.cn</div>
        </div>
       <!-- <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
        <script src="https://cdn1.lncld.net/static/js/av-mini-0.6.4.js"></script>
        <script src="./index.js"></script>
    </body>

</html>